3.5/bin/br/sci/appsondavalidation/model/controller/.metadata/.log
3.5/bin/br/sci/appsondavalidation/model/controller/.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
3.5/src/br/sci/appsondavalidation/model/controller/.metadata/.log
3.5/src/br/sci/appsondavalidation/model/controller/.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
